<!doctype html>
<html>
  <head>
    <title>Meetal</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/matcha.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
  </head>
  <body onload="fadeoutloader()">
  <% include header.ejs %>
    <div id="cont_wrapper">
      <div id='menu_left'>
          <div class='hide_menu_left'><img src='/images/icon/arrow-left.png'></div>
          <b>Mon compte</b>
          <br><hr><br>
              <ul style='list-style-type: none; padding: 0;'>
      <li><a onclick="set_button('basic')" href="#"><img src="/images/icon/user-4.png">Basique</a></li>
      <li><a onclick="set_button('me')" href="#"><img src="/images/icon/compose-3.png">À propos de moi</a></li>
      <li><a onclick="set_button('gout')" href="#"><img src="/images/icon/keys.png">Mes goûts</a></li>
      <li><a onclick="set_button('pass')" href="#"><img src="/images/icon/unlocked.png">Mot de Passe</a></li>
      <li><a onclick="set_button('mail')" href="#"><img src="/images/icon/envelope.png">Adresse email</a></li>
      <li><a onclick="set_button('snap')" href="#"><img src="/images/icon/camera-2.png">Photo</a></li>
    </ul>
      </div>
      <div class='show_menu_left'><img src='/images/icon/arrow-right.png'></div>
        <div id='error_hidden'>
          <div id="error_inscr">
      <b style="color: crimson; font-size: 1.2em;" id="msg_error"></b>
      <a href="#" onclick="hidden_log();">
        <img src="/images/icon/cross.png">
      </a>
    </div>
    <br><br></div>
      <div id='layout' class='cont_right'><% include edit_basic.ejs %></div>
  </div>
  <% include footer.ejs %>
 <script src="/ejs.min.js"></script>
 <script src="/jquery-3.1.1.min.js"></script>
 <script src="/jquery-ui.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 <script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>
 <script type="text/javascript">var user = <%- JSON.stringify(user) %>; var rows = <%- JSON.stringify(row) %>;</script>
 <script src="/edit.js"></script>
  </body>
</html>
